.btn {
    @include reset('link');
    display: inline-block;
    
    padding: 23px 50px 21 40px;
    min-width: 275px;

    font-family: 'proxima_nova_altbold', sans-serif;
    font-size: 18px;
    line-height: 1.7;
    color: $brand--primary;
    text-transform: uppercase;
    letter-spacing: 5px;

    border: 4px solid $brand--primary;

    &--secondary {
        color: $white;
        border-color: $white;
    }
}
