.grid {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: 768px) { // TODO: breakpoints
        flex-direction: row;
    }
}

.grid-item {
    flex: 1;
    padding-left: 24px;
    padding-right: 24px;
}