a {
    font-family: 'Proxima Nova', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'proxima_nova_altblack', sans-serif;
}

h1 {
    font-size: 48px;
    line-height: 48pt
}

h2 {
    font-size: 64px;
    line-height: 65pt;
}

h3 {
    font-size: 24px;
    line-height: 24pt;
}

p {
    font-family: 'Proxima Nova';
    font-size: 20px;
    line-height: 27pt;
}

