.footer {
    margin-top: 50px;
    padding: 50px 30px;
    background-color: $brand--primary;
}

.footer__item {
    & + & {
        margin-top: 66px;
    }

    &__title,
    &__body {
        margin: 0;
    
        font-size: 15px;
        line-height: 1.4;
        color: $white;

        a {
            color: $white;
            border-color: $white;
        }
    }

    &__title {
        font-family: 'proxima_nova_altbold';
        text-transform: uppercase;

        a {
            font-family: 'proxima_nova_altbold';
            border: none;
        }
    }

    &__body {
        font-family: 'proxima_nova_scosfthin';
        
    }

}
