section.conclusion
    .container--secondary
        h2.conclusion__title This anniversary is about you
        .grid
            .grid-item
                p It all started with a tiny satellite.
                p Twenty years ago, a close cooperation between EU countries and the European Commission culminated into <b>the launch of Spot-4 VEGETATION</b>. A spacecraft that would go on to improve our understanding of the world and its ecosystems.
                p <b>VITO Remote Sensing</b> took off as the image processing centre for the mission, translating earth observation images to new data and insights.
            .grid-item
                p But much more than the start of our remote sensing activities, March 24 1998 was <b>a celebration of cooperation and knowledge sharing</b> in general. A day that was much less about tech, than about the people behind it. This anniversary really is about you.
                p Join us to celebrate this occasion together with your peers.
        .grid.conclusion__btn
            .grid-item
            .grid-item
                a.btn(href="#") I'll be there


