footer.footer
    .container--secondary
        .grid
            .grid__item
                .footer__item
                    span.footer__item__title Copyright 2017 - 2018, VITO NV
                    p.footer__item__body All Rights reserved - This website is created and managed by VITO NV<br> in accordance with the laws of Belgium

                .footer__item
                    span.footer__item__title More about VITO RS?
                    p.footer__item__body Visit our <a href="https://remotesensing.vito.be/">website</a> or <a href="https://blog.vito.be/remotesensing">PRISM</a>, our blog
            .grid__item
                .footer__item
                    .footer__item__title
                        a(href="#") TERMS OF USE
                        a(href="#") PRIVACY POLICY