footer.footer
    .container--secondary
        .grid
            .grid-item
                .footer__item
                    span.footer__item__title Copyright 2017 - 2018, VITO NV
                    p.footer__item__body All Rights reserved - This website is created and managed by VITO NV in accordance with the laws of Belgium

                .footer__item
                    span.footer__item__title More about VITO RS?
                    p.footer__item__body Visit our <a href="https://remotesensing.vito.be/">website</a> or <a href="https://blog.vito.be/remotesensing">PRISM</a>, our blog
            .grid-item
                .footer__item
                    .footer__item__title.footer__links
                        a.footer__item__link(href="#") TERMS OF USE
                        a.footer__item__link(href="#") PRIVACY POLICY