footer.footer
.container--secondary
    .grid
        .grid__item
            span COPYRIGHT 2017 - 2018, VITO NV
            span All Rights reserved - This website is created and managed by VITO NV in accordance with the laws of Belgium
        .grid__item
            a(href="#") TERMS OF USE
            a(href="#") PRIVACY POLICY