.container
    header.header
        .header__logo
            img(src="img/vito_logo@2x.png")
        nav.header__nav
            ul
                li 
                    a(href="#") agenda
                li 
                    a(href="#") 20 years
                li 
                    a(href="#") register