section.container
    .hero.prlx(data-paroller-factor="0.3" data-paroller-type="background")
        .hero__logo
            img.hero__logo--top-img(src="img/logo.png", alt="anniversary logo")
            img.hero__logo--bottom-img(src="img/elipses.png")