html(lang="en")
    head   
        meta(charset="UTF-8")
        title Vito 20th anniversary
        link(rel="stylesheet" href="css/main.min.css")
    body
        include header

        include hero
        include introduction
        include schedule
        include info
        include selling-points
        include conclusion

        include footer

    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="js/jquery.paroller.min.js")
    script(src="js/main.js")
