section.info.container--secondary
    h2 A day<br> of looking<br> ahead
    img.info__img(src="./img/weather_map.png", alt="weerkaart")
    .grid
        .grid-item

        .grid-item.info__text
            p Remote sensing is as much about monitoring the current state of the earth's surface, as it is about predicting the future
            p In Today's highly dynamic world, that forward look is more important than ever. At the VITO Remote Sensing Networking Event, we'll explore how digital transformation will drive <b>change</b>, and what it means to be different<b>stakeholders</b> in our field.
            p And because you never fully know what's around the corner, we'll do it with <b>a little twist</b> along the way.