section.intro
    .container--secondary.intro__container
        .grid
            .grid-item.intro__cta.prlx(data-paroller-factor="0.06" data-paroller-type="foreground")
                h1.intro__title.prlx(data-paroller-factor="0.03" data-paroller-type="foreground") Anniversary<br> Event
                h3.intro__subtitle.prlx(data-paroller-factor="0.03" data-paroller-type="foreground") Tuesday<br> November 27 2018
                h3.intro__subtitle.prlx(data-paroller-factor="0.03" data-paroller-type="foreground") Square Brussels<br> Meeting Centre
                a.btn.btn--secondary.intro__btn I'll be there
            .grid-item.intro__text.prlx(data-paroller-factor="0.01" data-paroller-type="foreground")
                h3 meet and connect with your fellow earth observation colleagues
                p VITO Remote Sensing is celebrating its 20th anniversary in 2018, and we'd love you to be a part of it.
                p Join your industry peers and catch a glimpse of the future at our exclusive Networking Event. Taking place on the eve of the annual <a href="#">annual G-STIC conference</a>.
                