section.intro
    .container--secondary.intro__container
        .grid
            .grid-item.intro__cta
                h1.intro__title Anniversary<br> Event
                h3.intro__subtitle Tuesday<br> November 27 2018
                h3.intro__subtitle Square Brussels<br> Meeting Centre
                a.btn.btn--secondary.intro__btn I'll be there
            .grid-item.intro__text
                h3 meet and connect with your fellow earth observation colleagues
                p VITO Remote Sensing is celebrating its 20th anniversary in 2018, and we'd love you to be a part of it.
                p Join your industry peers and catch a glimpse of the future at our exclusive Networking Event. Taking place on the eve of the annual <a href="#">annual G-STIC conference</a>.
                