.container--secondary.bg-white
    h3 meet and connect with your fellow earth observation colleagues
    p VITO Remote Sensing is celebrating its 20th anniversary in 2018, and we'd love you to be a part of it.
    p Join your industry peers and catch a glimpse of the future at our exclusive Networking Event. Taking place on the eve of the annual <a href="#">annual G-STIC conference</a>.
                