section.container
    h2 Event Details
    h3 Tuesday<br> November 27 2018
    h3 Square Brussels<br> Meeting Centre

    ul
        li(data-hour="15:00") Doors open
        li(data-hour="15:15") Welcome
        li(data-hour="15:30") <a href="#">Peter Hinssen</a> brings his innovation insights with a unique earth observation twist
        li(data-hour="16:00") Remote sensing like you've never seen it before
        li(data-hour="17:00") Networking with cocktails and finger food