section.schedule
    .container--secondary.schedule__container
        h2.schedule__title Event<br> Details
        .grid
            .grid-item
                h3.schedule__subtitle Tuesday<br> November 27 2018
                h3.schedule__subtitle Square Brussels<br> Meeting Centre
            .grid-item
                ul.schedule__list
                    li(data-hour="15:00") Doors open
                    li(data-hour="15:15") Welcome
                    li(data-hour="15:30") <a href="#">Peter Hinssen</a> brings his innovation insights with a unique earth observation twist
                    li(data-hour="16:00") Remote sensing like you've never seen it before
                    li(data-hour="17:00") Networking with cocktails and finger food