section.selling-points.prlx(data-paroller-factor="0.3" data-paroller-type="background")
    .container.selling-points__container.prlx(data-paroller-factor="0.3" data-paroller-type="background")
        .grid
            .grid-item
                h3.selling-points__title Our networking<br> event is your<br> chance to
            .grid-item
                ul.list--secondary
                    li understand the <b>value, impact</b> and <b>future</b> of remote sensing in the circular economy
                    li see a <b>world-class keynote speaker</b> in action
                    li enjoy a <b>surprise performance</b> along the way
                    li connect and share a drink with <b>felllow members</b> of the remote sensing community
                a.btn.btn--secondary.selling-points__btn I'll be there